.header{
  display: flex;
  color: rgb(13, 110, 253);
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.download{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.upload{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
  padding-bottom: 1.2rem;
  cursor: pointer;
  border-style: dotted;
  border-color: white;
  border-radius: 1rem;
  border-width: 1px;
}

.text{
  display: flex;
  color: dimgray;
  justify-content: center;
  align-items: center;
  /* margin-left: 280px;
  margin-right: 280px; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2rem;
}

.hiddenButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadOptions{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;

}

.inputWidthA{
  width: 75px;
  margin-left: 10px;
}

.inputWidthB{
  width: 187px;
  margin-left: 112px;
}

/* Toggle button */

.toggle {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.toggle:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s ease-in-out;
}

.toggle.on {
  background-color: rgb(13, 110, 253);
}

.toggle.on:before {
  transform: translateX(20px);
}

.toggle.off:before {
  transform: translateX(0);
}

/* Toggle button */

.publicFiles{
  display: flex;
  color: dimgray;
  justify-content: center;
  align-items: center;
  /* margin-left: 280px;
  margin-right: 280px; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

.privateFiles{
  display: flex;
  color: dimgray;
  justify-content: center;
  align-items: center;
  /* margin-left: 280px;
  margin-right: 280px; */
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

.navBarLinks{
  display: flex;
  color: dimgray;
  justify-content: center;
  align-items: center;
  height: 35px;
  /* margin-left: 280px;
  margin-right: 280px; */
  /* margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px; */
}

.inputWidthC{
  width: 180px;
  margin-left: 112px;
}

.downloadOptions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWidthD{
  width: 166px;
  margin-left: 112px;
}

.login {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.loginErrTxt{
  display: flex;
  color: dimgray;
  justify-content: center;
  align-items: center;
}

.uploadCard {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* cursor: pointer; */
  margin-top: 2rem;
  background-color: #b0b3b8;
  width: max-content;
  height: max-content;
  padding: 5px;
  border-radius: 8px;
}

#file-input-label {
  margin-top: 1rem;
  font-size: 1.4em;
  margin-bottom: 0rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#file-input {
  display: none;
  width: 100%;
  height: 100%;
}

#selectFolder {
  /* font-size: 0.9rem; */
  /* text-decoration: underline */
  /* margin-left: 0rem; */
  margin-top: 0rem;
  cursor: pointer;
}

#uploadImage {
  margin-top: 1.1rem;
  margin-right: 0.8rem;
  width: 50px;
  height: 50px;
}

.btn {
  margin-bottom: 0.6rem;
  border-radius: 25px;
}


.container{
  width: auto;
  /* padding: 20px; */
  margin: auto auto;
  /* font-family: 'Inter', sans-serif; */
}
.did-floating-label-content { 
  position:relative; 
  margin-bottom:20px; 
}
.did-floating-label {
  color:#1e4c82; 
  font-size:15px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:10px;
  top:11px;
  padding:0 5px;
  /* background:#fff; */
  transition:0.1s ease all; 
  -moz-transition:0.1s ease all; 
  -webkit-transition:0.1s ease all;
}
.did-floating-input {
  font-size:15px;
  display:block;
  width:180px;
  height:45px;
  padding: 0 15px;
  /* background: #fff; */
  color: #323840;
  border: 1px solid #3D85D8;
  border-radius: 7px;
  box-sizing: border-box;
  &:focus{
    outline:none;
    ~ .did-floating-label{
      top:-1px;
      font-size:12px;
    }
  }
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top:-1px;
  font-size:11px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#fileImage{
  width: 30px;
  height: 30px;
  margin-left: 8px;
}

#xmarkImage{
  width: 12px;
  height: 12px;
  margin-right: 8px;
  cursor: pointer;
}

#fileName{
  font-size: 20px;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 5px;
}

.fileUploadOptions{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  border-style: dotted;
  border-color: white;
  border-radius: 1rem;
  border-width: 1px;
}

